
Pooling.asv
*.asv
recog_res.txt
test2.m
recog_res.txt
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-s11-valid-4.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-s11-valid-3.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-s11-valid-2.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-s11-valid-1.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-s11-valid-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s77-same-5.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s77-same-4.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s77-same-3.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s77-same-2.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s77-same-1.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s77-same-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s55-valid-5.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s55-valid-4.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s55-valid-3.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s55-valid-2.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s55-valid-1.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s55-valid-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s11-valid-5.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s11-valid-4.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s11-valid-3.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s11-valid-2.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s11-valid-1.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-k23-s11-valid-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/dpw-conv-s11-valid-5.csv
+nn/Unit-Test/test_data/Test-Data-for-Pooling/pool_w(2,3)_s(2,2)_max_same.csv
+nn/Unit-Test/test_data/Test-Data-for-Pooling/pool_w(3,3)_s(2,3)_avg_same.csv
+nn/Unit-Test/test_data/Test-Data-for-Pooling/pool_w(3,3)_s(2,3)_max_same.csv
+nn/Unit-Test/test_data/Test-Data-for-Pooling/pool_w(5,3)_s(2,3)_avg_valid.csv
+nn/Unit-Test/test_data/Test-Data-for-Pooling/pool_w(5,3)_s(2,3)_max_valid.csv
+nn/Unit-Test/test_data/Test-Data-for-Pooling/pool_w(572,3)_s(2,3)_max_valid.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s33-same-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s33-same-1.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s77-same-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s77-same-1.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s77-valid-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s77-valid-1.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s78-same-0.csv
+nn/Unit-Test/test_data/Test-Data-for-Conv2d-DpthConv2d/conv-k23-s78-same-1.csv
recog_res.txt
recog_res.txt
